<script src="/js/game.js" type="text/javascript"></script>
<div div align="center" class="title">
	<h1 id="titulo"> Choose your ships </h1>
</div>
<div align="center">
	<div align="center" id="my_board" class="board" data-status="<%= @game_status %>" data-size="<%= @game_size %>" data-player="<%= @user_id %>" data-rival="<%= @rival_id %>" data-id="<%= @game_id %>">
		  <h1 id="title" > Your board: </h1>
		  <div class="grid" id="my_board_container">
		  </div>
		  <button id="start_game" class="button"> Start Game! </button>
	</div>
	<div align="center" id="rival_board" class="board">
		  <h1 id="title" > Rival's board: </h1>
		  <div class="grid" id="rival_board_container">
		  </div>
		  <button id="attack" class="button"> Attack! </button>
	</div>
</div>